@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');

/* :root{
    --branco: white;
    --preto:black;
} */

*{
    margin: 0;
    padding: 0;
 }
body{
    height: 100vh;
    background-color: black;
}



p, h1{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    color: white ;
}
.navbar{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-item{
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    color:  rgb(60, 128, 255);
    cursor: pointer;
    font-weight:700;
    font-size: 16pt;

}

.navbar-item:hover{
    color: white;
}

/* PARTE MAIN */
.main {
    margin-top: 10rem;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.texto-apresentação{
    text-align: justify;
    margin-right: 15rem;
}

.titulo{
    font-size: 40pt;
    font-weight: bold;
}

.subtitulo{
    color: rgb(60, 128, 255);
    font-size: 19pt;
    font-weight: 400;
}
.hello{
    color:rgb(60, 128, 255);
}

.btn-lestgo{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-size: medium;
    margin-top: 3rem;
    height: 3rem;
    width: 12rem;
    color: white;
    background-color :  rgb(0, 109, 252 ) ;
    border: none;
    border-radius: 5px;
    cursor:pointer;

}

.btn-lestgo:hover{
    
    background-color: black;
    border: 1px solid rgb(0, 109, 252 ) ;
    transition: 0.2s;
}

.img-perfil {
    width: 100%;
    max-width: 350px;
    border-radius: 40% 25% 40% 25%  ;
    aspect-ratio: 1/1.2;
    object-fit: cover;
    object-position: top;
}



h1{

width: 40rem;
} 

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
  }

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }